@background: #E84545;
@primary: #53354A;
@primary-dark: #903749;

@header-background: #53354A;
@header-primary:#E84545;
@header-primary-dark: darken(#E84545, -30%);

@grey: #eee;

// @primary: #E523E5;
// @primary-dark: darken(#E523E5, -30%);