@import 'colors';

.examples {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .example-row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .example {
            padding: 10px 20px;

            .box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;

                img {
                    content: url("../src/images/zelda_light.jpg");

                    width: 100%;
                    height: auto;
                    max-height: 400px;

                    align-self: center;
                }

                .info {
                    background-color: @background-highlight;
                    padding: 20px;
                    
                    .title {
                        margin-top: 10px;
                        font-size: 2em;
                    }
        
                    a {
                        color: @primary;
                        font-weight: bold;
                    }
        
                    .text {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 961px) {
    .examples {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        .example-row {
            flex-direction: row;
            justify-content: space-around;

            .example {
                max-width: 700px;
                flex-grow: 1;
            }
        }
    }
}