header.top-header {
    position: fixed;
    min-width: 100%;
    z-index: 10;

    nav {
        display: block;
        padding: 1em 20px;
        background-color: @background-secondary;
        
        .logo {
            background-color: @black;
            border-radius: 50px;
            display: inline-block;
            height: 45px;
            width: 45px;
        }

        ul {
            display: block;
            height: 0;
            list-style-type: none;
            text-align: center;
            transition: all 1s ease;
            width: 100%;
            opacity: 0;
            visibility: hidden;
            margin: 0;
            padding-left: 0; 

            li {
                border-bottom: 2px solid @background-secondary;
                background-color: @trietary;
                display: block;
                font-size: 1.5em;
                padding: 20px 0;

                a {
                    color: @primary;
                    text-decoration: none;
                    transition: all .5s ease;

                    &:hover {
                        color: @secondary;
                    }
                }
            }
        }

        #menu-toggle {
            display: none;
        }

        #menu-toggle:checked ~ ul {
            opacity: 1;
            height: 100vh;
            visibility: visible;
            padding-top: 15px;   
        }
          
        .label-toggle {
            background: linear-gradient(to bottom, @trietary 0%, @trietary 20%, transparent 20%, transparent 40%, @trietary 40%, @trietary 60%, transparent 60%, transparent 80%, @trietary 80%, @trietary 100%); //Gradient Hamburger
            cursor: pointer;
            display: block;
            float: right;
            height: 45px;
            width: 45px;
        }
    }
}

@media screen and (min-width: 961px) {
    header.top-header {
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em 50px;
        
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;
                list-style-type: none;
                width: 50%;
                opacity: 1;
                visibility: visible;

                li {
                    border-bottom: 0;
                    display: inline-block;
                    font-size: 1em;
                    padding: 0;
                    background-color: inherit;

                    a {

                        font-weight: bolder;
                        color: @black;
                    }
                }
            }

            .label-toggle {
                display: none;
            }
        }
    }
}