@import 'colors';

.reviews {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .review-container {

        background-color: rgba(255, 255, 255, 0.25);
        width: 90%;
        min-height: 300px;

        margin: 10px;
        padding: 20px;
        border: 5px solid black;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .review-image {
            width: 100%;
            min-width: 300px;
            height: 100%;
            min-height: 300px;
            border: 1px solid black;

            order: 1;
        }

        .review-content {
            padding-top: 10px;

            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            order: 2;

            h1 {
                margin-bottom: 0;
                padding-bottom: 10px;
            }

            p {
                margin: 0;
            }
        }

        .review-score {
            padding: 10px;
            padding-bottom: 0;

            font-size: 1.5em;
            color: @review-score;

            order: 3;
        }

        &:nth-child(odd) {

            border-width: 3px 4px 3px 5px;
            border-radius: '95% 4% 92% 5% / 4% 95% 6% 95%';
            transform: rotate(0.2deg);

            margin-right: 0;
            border-right: 0;
            align-self: flex-end;

            .review-image {
                background-color: blue;
                transform: rotate(-0.2deg);
            }

            .review-content {
                transform: rotate(-0.2deg);
            }
        }

        &:nth-child(even) {
            
            border-width: 3px 3px 5px 5px;
            border-radius: '4% 92% 6% 96% / 95% 6% 92% 4%';
            transform: rotate(-0.2deg);

            margin-left: 0;
            border-left: 0;
            align-self: flex-start;

            .review-image {
                background-color: red;
                transform: rotate(0.2deg);
            }
            
            .review-content {
                transform: rotate(0.2deg);
            }
        }
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
    .reviews {
        .review-container {
    
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
    
            .review-image {
                align-self: center;
            }
    
            .review-content {
                margin-top: 0;
            }

            .review-score {
                padding: 0 10px;
            }
    
            &:nth-child(odd) {
    
                flex-direction: row;

                .review-image {
                }

                .review-content {
                    margin-left: 10px;
                    align-self: flex-start;
                }
            }
    
            &:nth-child(even) {
                
                flex-direction: row-reverse;

                .review-image {
                }

                .review-content {
                    margin-right: 10px;
                    align-self: flex-start;
                    order: 3;
                }

                .review-score {
                    order: 2;
                }
            }
        }
    }

}


// .box{
//     margin:25px;
//     width:250px;
//     height:250px;
//     background:#fff;
//     border: solid black;
//     border-color: black;
//     float:left; 

//     &.box1{
//         border-width: 3px 4px 3px 5px;
//         border-radius:95% 4% 92% 5%/4% 95% 6% 95%;
//         transform: rotate(2deg);
//     }
      
//     &.box2{
//         width:350px;
//         border-width: 3px 3px 5px 5px;
//         border-radius:4% 95% 6% 95%/95% 4% 92% 5%;
//         transform: rotate(-2deg);
//     }
    
//     &.box3{
//         border-width: 5px 3px 3px 5px;
//         border-radius:95% 4% 97% 5%/4% 94% 3% 95%;
//         transform: rotate(2deg);
//     }
// }